<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>MOXI</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />

<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet" />
<link th:href="@{/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css}" rel="stylesheet" />

</head>

<body>
	<div class="row">.
	
	
	
	
				<div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>Horizontal form</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Config option 1</a>
                                    </li>
                                    <li><a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="close-link">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form class="form-horizontal">
                                <div class="form-group"><label class="col-lg-2 control-label">选择：</label>
                                    <div class="col-lg-10">
	                                    <select class="form-control">
										  <option>1</option>
										  <option>2</option>
										  <option>3</option>
										  <option>4</option>
										  <option>5</option>
										</select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-lg-2 control-label">菜单：</label>
                                    <div class="col-lg-10">
                                    
                                     <div class="input-group">
								      
								      
								      <div class="input-group-btn">
								        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
								        <ul class="dropdown-menu">
								          <li><a href="#">Action</a></li>
								          <li><a href="#">Another action</a></li>
								          <li><a href="#">Something else here</a></li>
								          <li role="separator" class="divider"></li>
								          <li><a href="#">Separated link</a></li>
								        </ul>
								      </div><!-- /btn-group -->
								      
								      
								      <input type="text" class="form-control" aria-label="..."/>
								      
								      
								       <div class="input-group-btn">
							        	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Action <span class="caret"></span></button>
								        <ul class="dropdown-menu dropdown-menu-right">
								          <li><a href="#">Action</a></li>
								          <li><a href="#">Another action</a></li>
								          <li><a href="#">Something else here</a></li>
								          <li role="separator" class="divider"></li>
								          <li><a href="#">Separated link</a></li>
								        </ul>
	        							</div>
	        
	        
								    </div><!-- /input-group -->
                                    
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-lg-2 control-label">Email</label>
                                    <div class="col-lg-10"><input type="email" placeholder="Email" class="form-control"/> <span class="help-block m-b-none">Example block-level help text here.</span>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-lg-2 control-label">Email</label>
                                    <div class="col-lg-10"><input type="email" placeholder="Email" class="form-control"/> <span class="help-block m-b-none">Example block-level help text here.</span>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-lg-2 control-label">Password</label>
                                    <div class="col-lg-10"><input type="password" placeholder="Password" class="form-control"/></div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-sm btn-white" type="submit">Sign in</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>                    
                    
                    
                    
	   <nav class="navbar navbar-default ">
			<div class="container" align="center">
	     		<div class="row navbar-fixed-bottom" align="center">
	        		<div class="col-md-6 col-sm-6 col-xs-6" align="center" style="padding-right: 0px;padding-left: 0px;">
						<a class="btn btn-primary btn-block btn-lg" href="#" style="border-radius: 0px;">首页</a>
					</div>
	            	<div class="col-md-6 col-sm-6 col-xs-6" align="center" style="padding-right: 0px;padding-left: 0px;">
						<a class="btn btn-default btn-block btn-lg" href="#" style="border-radius: 0px;">我的订单<span class="badge">0</span></a>
					</div>
	     		</div>
			</div>
		</nav>
	</div>
	
    <!-- Mainly scripts -->
    <script th:src="@{/js/jquery-2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	
    <!-- Custom and plugin javascript -->
    <script th:src="@{/js/inspinia.js}"></script>
    <script th:src="@{/js/plugins/pace/pace.min.js}"></script>
    
    <!-- iCheck -->
    <script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>
    
	<script>
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
 	</script>

</body>

</html>
